#dropbtn {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0 2px 10px, rgba(0, 0, 0, 0.16) 0 2px 5px;
    border: none;
    color: #505050;
    padding: 15px;
    font-size: 16px;
    width: 220px;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown {
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    min-width: 220px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 2px 10px, rgba(0, 0, 0, 0.16) 0 2px 5px;
    z-index: 1;
    transform: translateY(-4px);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.3);
}

.selected {
    font-weight: bold;
}